/* Type Selectors  */


/* every <p> element will be darkgreen and use a 10-point Verdana font */

p {
    color: darkgreen;
    font-family: Verdana;
    font-size: 10pt;
}


/* Descendant Selectors */


/* strong> tags within <p> tags will  have red text */


/* does not have to be a direct child */

p strong {
    color: red;
}


/* must be a direct child */

p>strong {
    color: blue;
}

h2+p {
    color: yellow;
}


/* Class Selectors */

.warning1 {
    font-weight: bold;
    color: #ff0000;
}

.warning2 {
    font-weight: bolder;
}

.fancy {
    font-family: Pristina;
}

.redish {
    color: red;
}


/* ID Selectors */


/* can only be used once */

#liEarth {
    color: orange;
}

span[class] {
    background-color: gray;
}

span[class="notfancy"] {
    background-color: green;
}

a[portfolio] {
    color: green;
}

a[target="_blank"] {
    color: red;
}

i, .warning, #important {
    text-decoration: underline;
}

p.crossout {
    text-decoration: line-through;
}
