footer {
    display: block;
}

body {
    background-color: #ffffff;
    color: #000000;
}


/* 16px == 1rem */

html {
    font-size: 16px;
}

img {
    width: 25%
}

.page-title {
    color: green;
    text-align: center;
    font-size: 2rem;
}
